<template name="roomdetails">

	{{#if isPlaying}}
	<div class="panel panel-gameclock">
		<i class="icon-clock"></i> {{countdown}}
	</div>

	<div class="panel panel-clueprogress">
		<div class="progressbar">
			<div class="progressbar-fill" style="width:50%;"></div>
		</div>
	</div>
	{{/if}}

	<div class="gamemenu">
		{{#if isOver}}
		<button class="evt-startgame"><i class="icon-cw"></i> New game</button>
		{{/if}}

		{{#if isPlaying}}
		<button class="evt-startgame"><i class="icon-cw"></i> Restart game</button>
		{{/if}}

		{{#if isPregame}}
		<button class="evt-startgame"><i class="icon-cw"></i> Start game</button>
		{{/if}}
	</div>

	<div class="panel panel-userlist">
		<ul class="mod-blocked">
			{{#each users}}
			<li><i class="icon-user-1"></i> {{handle}}</li>
			{{/each}}
		</ul>
	</div>

</template>