<template name="roomdetails">

	<div class="panel panel-gameclock">
		{{countdown}}
	</div>

	<div class="panel panel-clueprogress">
		<div class="progressbar">
			<div class="progressbar-fill" style="width:50%;"></div>
		</div>
	</div>

	<div class="panel panel-gamemenu">
		{{#if isOver}}
		<button class="evt-startgame">New game</button>
		{{/if}}

		{{#if isPlaying}}
		<button class="evt-startgame">Restart game</button>
		{{/if}}

		{{#if isPregame}}
		<button class="evt-startgame">Start game</button>
		{{/if}}
	</div>

	<div class="panel panel-userlist">
		<ul class="mod-blocked">
		{{#each users}}
			<li>{{handle}}</li>
		{{/each}}
		</ul>
	</div>

</template>