<template name="userdetails">

	<div class="panel mod-danger panel-strikes">
		{{#each loopCount strikes}}
			<i class="icon-cancel-squared"></i>
		{{/each}}
	</div>
	
	<div class="panel panel-console">
		<div class="console">
			<div class="console-content">
				{{#each consoleentries}}
					<div class="{{cssclass}}">{{{text}}}</div>
				{{/each}}
			</div>
		</div>
	</div>

	<div class="panel panel-clueprogress">
		<div class="progressbar">
			<div class="progressbar-fill" style="width:{{slam_percent}}%;"></div>
		</div>
	</div>
	
	{{#if command}}
	<div class="panel mod-danger panel-command">
		<div class="panel-label">{{command}}</div>

		<div class="progressbar mod-danger">
			<div class="progressbar-fill" style="width:{{countdown_percent}}%;"></div>
			<div class="progressbar-label">{{countdown}}</div>
		</div>
	</div>
	{{/if}}

	<div class="panel panel-commandlist {{verbpanel_class}}">
		<div class="panel-label">Select Action</div>
		<ol class="mod-commandlist">
			{{#each command_verbs}}
				<li>
					<i class="icon-{{cssclass}}"></i>
					<div class="label">{{plusOne @index}} {{text}}</div>
				</li>
			{{/each}}
		</ol>
	</div>

	<div class="panel panel-commandlist {{objectpanel_class}}">
		<div class="panel-label">Select Target</div>
		<ol class="mod-commandlist">
			{{#each command_objects}}
				<li>
					<i class="icon-{{cssclass}}"></i>
					<div class="label">{{plusOne @index}} {{text}}</div>
				</li>
			{{/each}}
		</ol>
	</div>

</template>