<template name="userdetails_debug">
<ul>
	<li>Handle: {{handle}}</li>
	<li>Strikes: {{stikes}}</li>
	<li class="{{verbpanel_class}}">Verbs: 
		<ol>
			{{#each command_verbs}}
				<li>{{this}}</li>
			{{/each}}
		</ol>
	</li>
	<li class="{{objectpanel_class}}">Objects: 
		<ol>
			{{#each command_objects}}
				<li>{{this}}</li>
			{{/each}}
		</ol>
	</li>
	{{#if command}}
		<li>Command: {{command}}</li>
		<li>Command Expiration: {{commandExpiration}}</li>
		<li>Countdown: {{countdown}}</li>
		<li>Countdown Percent: {{countdown_percent}}</li>
		<li><div style="background:black;height:10px;width:{{countdown_percent}}%;"></div></li>
	{{/if}}
</ul>
</template>