<template name="userdetails">

	<div class="panel panel-strikes">
		{{#each loopCount strikes}}
			<i class="icon-cancel-squared"></i>
		{{/each}}
	</div>
	
	<div class="panel panel-console">
		<div class="console">
			<div class="console-content">
				{{#each consoleentries}}
					<div class="{{cssclass}}">{{{text}}}</div>
				{{/each}}
			</div>
		</div>
	</div>
	
	{{#if command}}
	<div class="panel panel-command">
		{{command}}

		<div class="progressbar mod-danger">
			<div class="progressbar-fill" style="width:{{countdown_percent}}%;"></div>
			<div class="progressbar-label">{{countdown}}</div>
		</div>
	</div>
	{{/if}}

	<div class="panel panel-commandlist {{verbpanel_class}}">Verbs: 
		<ol>
			{{#each command_verbs}}
				<li>{{this}}</li>
			{{/each}}
		</ol>
	</div>

	<div class="panel panel-commandlist {{objectpanel_class}}">Objects: 
		<ol>
			{{#each command_objects}}
				<li>{{this}}</li>
			{{/each}}
		</ol>
	</div>

</template>