@green: #0c0;
@cyan: #0ee;
@red: #c00;
@black: black;
@white: white;
@borderwidth: 3px;
@gray: #999;
@darkgray: #444;

* {
	box-sizing:border-box;
}

body {
	font-family: Courier;
	font-size:1.5vw;
	line-height: 1.25em;

	background:black;
	color: @green;
}

a {
	color: @cyan;
	text-decoration: none;

	&:hover {
		background-color:@cyan;
		color:black;
	}
}

ul {
	padding:0;
	margin:0;

	list-style:none;

	> li {
		margin: 5px 0 0 20px;
		padding-left:5px;

		border-left:5px solid @green;
	}
}

ol {
	padding:0;
	margin:0 0 0 40px;

	> li {
		margin: 5px 0 0 0;
		padding-left:5px;
	}
}

button {
	padding:0 1.2em;

	font-weight: bold;
	text-transform: uppercase;
	line-height: 2.4em;

	background: transparent;
	border: @borderwidth solid @cyan;
	color:@cyan;

	&:hover {
		background-color:@cyan;
		color:black;
	}
}

input[type="text"] {
	padding:0 1.2em;

	line-height: 2.4em;

	background:transparent;
	border: 0 none;
	border-bottom:@borderwidth solid @green;
	color: @white;
	outline:none;
	background: fade(@white, 18);
}

.canvas {
	width:100vw;
	height:100vw * 9/16;

	position:relative;

	// position: absolute;
	// top:50%;
	// left:50%;
	// transform:translate(-50%, -50%);
}
.console {
	position: absolute;
	width:90vw;
	height:100vw * 9/16 -  10vw;
	top:5vw;
	left:5vw;
	overflow:hidden;
	
	border:@borderwidth solid @green;
}
.panel {
	display:none;

	position:absolute;
	z-index:2;

	border:@borderwidth solid @green;

	&.state-open {
		display:block;
	}
}
.panel_debug.state-open {
	color:red;
	font-weight: bold;
}
.console-content {
	position:absolute;
	padding:10px;
	bottom:0;

	> div {
		&:before {
			content: "> ";
		}
	}
	> .status {
		color:@gray;
	}
	> .error {
		color:@red;
	}
}
.danger-bar {
	position: absolute;
	width:60vw;
	height:5vw;
	top:2.5vw;
	right:2.5vw;

	font-size:3vw;
	text-align: center;

	border:@borderwidth solid @red;
	background: black;
	color:white;

	> .progress {
		height:100%;
		width:0%;

		border:@borderwidth solid black;
		background:@red;
	}

	> .label {
		position:absolute;
		top:50%;
		left:50%;
		transform:translate(-50%, -50%);
		width:100%;

		text-transform: uppercase;
	}
}
.keyboard-map {
	position: absolute;
	width:32vw;
	height:10.5vw;
	bottom:5vh;
	right:5vw;
	padding:0.5vw;

	text-align: center;
	font-size:0;
	line-height: 0;

	border:@borderwidth solid @cyan;
	background: black;

	> div {
		display:inline-block;
		width:3vw;
		height:3vw;

		background:@darkgray;
		border:1px solid black;

		&.pressed {
			background:@cyan;
		}
	}
}
.vmin-canvas {
	position:fixed;
	width:100vmin;
	height:100vmin * 9/16;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);

	background-color:darken(@green, 30);
}


.countdownbar {
	height:20px;

	background:@red;
}
@keyframes delayedfade {
    0% {opacity: 0;}
    99% {opacity: 0;}
    100% {opacity: 1;}
}
.lagsafe {
	animation-name: delayedfade;
	animation-duration: 1s;
}